<!-- main app container -->
<div class="card m-3">
    <h5 class="card-header text-center">Job Opportunity</h5>
    <div class="card-body">
        <form [formGroup]="JobOppForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label> Name</label>
                <input
                  type="text"
                  maxlength="50"
                  minlength="3"
                  formControlName="Name"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
                />
                <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                  <div *ngIf="f.Name.errors.required">Name is required</div>
                  <div *ngIf="f.Name.errors.minlength">Name should be least 3 characters long</div>
              <div *ngIf="f.Name.errors.maxlength">Less than 50 characters long</div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" maxlength="300"
                minlength="3" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.minlength">Email should be least 3 characters long</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input
                type="number"
                maxlength="50"
                minlength="3"
                formControlName="Phone"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }"
              />
              <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                <div *ngIf="f.Phone.errors.required">Phone is required</div>
                <div *ngIf="f.Phone.errors.minlength">Phone should be least 3 characters long</div>
              </div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input type="text"   maxlength="50"
                minlength="3" formControlName="Title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Title.errors }" />
                <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                    <div *ngIf="f.Title.errors.required">Title is required</div>
                    <div *ngIf="f.Title.errors.minlength">Title should be least 3 characters long</div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text"   maxlength="100"
                minlength="3" formControlName="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Description.errors }" />
                <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                    <div *ngIf="f.Description.errors.required">Description is required</div>
                    <div *ngIf="f.Description.errors.minlength">Description should be least 3 characters long</div>
                </div>
            </div>
            <div class="form-group">
                <label>Rate</label>
                <select formControlName="Rate" maxlength="50"
                minlength="3" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Rate.errors }">
                    <option value="Hourly">Hourly</option>
                    <option value="Annually">Annually</option>
                </select>
                <div *ngIf="submitted && f.Rate.errors" class="invalid-feedback">
                    <div *ngIf="f.Rate.errors.required">Rate is required</div>
                    <div *ngIf="f.Rate.errors.minlength">Rate should be least 3 characters long</div>
                </div>
            </div>
            <div class="form-group">
                <label>Client</label>
                <input type="text" maxlength="50"
                minlength="3" formControlName="Client" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Client.errors }" />
                <div *ngIf="submitted && f.Client.errors" class="invalid-feedback">
                    <div *ngIf="f.Client.errors.required">Client is required</div>
                    <div *ngIf="f.Client.errors.minlength">Client should be least 3 characters long</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Attachment</label>
                    <input type="file" name='files[]' multiple formControlName="Attachement" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Attachement.errors }" />
                    <div *ngIf="submitted && f.Attachement.errors" class="invalid-feedback">
                        <div *ngIf="f.Attachement.errors.required">Attachment is required</div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                <button class="btn btn-primary ml-1">Submit</button>
            </div>
        </form>
    </div>
</div>
